.map-view {
    height: 100%;
    width: 100%;
    margin: auto;
}

.container-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.wrap {
    width: 66.66vw;
    height: 100vh;
    margin-left: auto;
}

.esri-ui {
    display: none;
}